<section class="flex flex-col justify-between max-h-[100vh] min-h-[100vh]">
    <app-header></app-header>

    <div>
        <img src="notes1.png" class="absolute top-[224px] left-40" alt="rectangle">
        <img src="notes2.png" class="absolute top-[224px] left-[650px]" alt="rectangle">
        <img src="people1.png" class="absolute top-[224px] right-40" alt="rectangle">
        <img src="flowers1.png" class="absolute top-[470px] right-[500px]" alt="rectangle">
        <img src="homeRectangle.png" width="100%" alt="rectangle">
    </div>
</section> 