<footer class="font-montserrat bg-[#F9F7F7] min-h-[100vh] max-h-[100vh] flex flex-col justify-around">
    <section class="flex justify-between gap-[200px] px-[10%]">
        <div class="flex gap-[45px] flex-col items-center justify-between w-fit">
            <h1 class="text-[40px] font-black text-[#3F72AF]">Pura Música</h1>
            <img src="peoples2.png" width="350" alt="peoples"/>
        </div>

        <div class="flex gap-[70px] pr-[100px]">
            <ul class="text-[#112D4E] text-[20px] font-medium flex flex-col gap-[12px]">
                <p class="text-[#3F72AF] text-[18px] font-semibold">linha1</p>
                <li>projects</li>
                <li>collections</li>
                <li>contacts</li>
                <li>work with us</li>
                <li>about us</li>
            </ul>
            
            <ul class="text-[#112D4E] text-[20px] font-medium flex flex-col gap-[12px]">
                <p class="text-[#3F72AF] text-[18px] font-semibold">linha2</p>
                <li>projects</li>
                <li>collections</li>
                <li>contacts</li>
                <li>work with us</li>
                <li>about us</li>
            </ul>

            <ul class="text-[#112D4E] text-[20px] font-medium flex flex-col gap-[12px]">
                <p class="text-[#3F72AF] text-[18px] font-semibold">linha3</p>
                <li>projects</li>
                <li>collections</li>
                <li>contacts</li>
                <li>work with us</li>
                <li>about us</li>
            </ul>
        </div>
    </section>

    <section class="flex justify-center gap-[100px]">
        <div class="flex gap-[50px]">
            <img src="facebook.png" width="30" alt="facebook icon">
            <img src="instagram.png" width="30" alt="instagram icon">
            <img src="twitter.png" width="30" alt="twitter icon">
        </div>

        <p class="text-[#3F72AF] text-[15px] font-medium">© 2022 - Lorem ipsum dolor sit amet - Lorem ipsum -dolor sit- amet · +00.000000000 ·+00.00000000 ·</p>
    </section>
</footer>